<model>
    <mount>//OPNsense/netbird/settings</mount>
    <version>0.8.1</version>
    <description>Netbird plugin</description>
    <items>
        <!-- container -->
        <settings>
            <!-- fields -->
            <enabled type="BooleanField">
                <default>0</default>
                <Required>Y</Required>
            </enabled>
            <wgPort type="IntegerField">
                <Required>Y</Required>
                <default>51820</default>
            </wgPort>
            <quantumEnabled type="BooleanField">
                <default>0</default>
                <Required>Y</Required>
            </quantumEnabled>
            <disableDNS type="BooleanField">
                <default>1</default>
                <Required>Y</Required>
            </disableDNS>
            <disableServerRoutes type="BooleanField">
                <default>1</default>
                <Required>Y</Required>
            </disableServerRoutes>
            <disableClientRoutes type="BooleanField">
                <default>1</default>
                <Required>Y</Required>
            </disableClientRoutes>
            <quantumPermissive type="BooleanField">
                <default>0</default>
                <Required>Y</Required>
            </quantumPermissive>
            <carpIf type="InterfaceField">
                <Required>N</Required>
            </carpIf>
            <vhId type="IntegerField">
                <Required>N</Required>
                <default>1</default>
            </vhId>
        </settings>
    </items>
</model>
